<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EmailsEmisor" value="rodrigobravo-@hotmail.com;rodrigoebravo@hotmail.com;rodrigoebravo07@gmail.com" />
    <add key="DestinatariosMailError" value="eliorodrigobravo@gmail.com" />
    <add key="Smtp.Host" value="192.168.7.75"/>
    <add key="Smtp.Port" value="25"/>
    <add key="Smtp.Usr" value="reportes@nosis.com.ar"/>
    <add key="Smtp.Pass" value=""/>
  </appSettings>
</configuration>